    <div id="siteinfo" title="Site Information">
      <div id="siteinfo-legal">
        <span class="copyright">&copy; 2012 Murasaki Duo. All Rights Reserved.</span>
      </div>  
      <div class="vcard">
        <a class="fn org url" href="http://www.murasakiduo.com/">Murasaki Duo</a>
        <div class="adr">
          <div class="street-address">707 West Water Street</div>
          <span class="locality">Decorah</span>, <abbr class="region" title="Iowa">IA</abbr> <span class="postal-code">52101</span>
          <div class="country-name">USA</div>
        </div>
        <a class="email" href="mailto:murasakiduo@yahoo.com">murasakiduo@yahoo.com</a>
        <div class="tel">(563) 387-1220</div>
      </div>
      <!-- Facebook Badge START --><a class="facebook" href="https://www.facebook.com/murasakiduo" target="_TOP" title="Murasaki Duo"><img src="https://badge.facebook.com/badge/146512258738920.1637.1527663389.png" style="border: 0px;" /></a><!-- Facebook Badge END -->
    </div>

    <ul id="nav-top" title="Skip Link">
      <li>[<a href="#murasakiduo-com" title="Top of this page">Top</a>]</li>
    </ul>  