        <div id="nav">   
            <ul id="nav-main">
                <li class="bypass">[<a href="#nav-supplementary">Bypass Main Navigation</a>]</li>
                <li class="home"><a "{{ "/" | prepend: site.baseurl }}"><span></span>Home</a></li>
                <li class="about"><a "{{ "/about/" | prepend: site.baseurl }}"><span></span>About Us</a></li>
                <li class="concert"><a "{{ "/concerts/" | prepend: site.baseurl }}"><span></span>Concerts</a></li>
                <li class="recordings"><a "{{ "/recordings/" | prepend: site.baseurl }}"><span></span>Recordings/Listen</a></li>
                <li class="photos"><a "{{ "/photos/" | prepend: site.baseurl }}"><span></span>Photo Gallery</a></li>
                <li class="contact"><a "{{ "/contact/" | prepend: site.baseurl }}"><span></span>Contact Us</a></li>
            </ul>
        </div> 